/* STYLESHEET for THE CREATIVE WRITER
    Code Institute Milestone Project 2
    Author: Mikhaila Burgess, 2023
*/


/* COLOR PALETTE -------------------------------------------- */
:root {
    --palette-pale: #FFE6A7;
    --palette-chocolate: #99582A;
    --palette-dark: #432818;
    --palette-caramel: #BB9457;
    --palette-rich: #6F1D1B;
}


/* SITE MARGINGS & PADDING-- -------------------------------- */



/* SITE SECTIONS -------------------------------------------- */

header {
    /* background-color: lightgray; */
    margin-top: 75px;
}

body {
    background-color: var(--palette-pale);
    background-image: url("../images/calligraphy-faded.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* align-items: center; */
}

footer {
    /* background-color:burlywood; */
    width: 100%;
    text-align: center;
    min-height: 35px;
    margin: 0;
}

#upper-section, #lower-section {
    text-align: center;
}


/* SITE TEXT ----------------------------------------------- */

h1 {
    font-family: 'Charm', cursive;
    font-weight: 600;
    font-size: 48px;
}

h2, h3, h4, h5 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 500; 
}

p,

.site-text, .text-genre-card {
    font-family: 'Kalam', cursive;
}


p.lead{
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.site-text {}


.site-heading {
    /* background-color: pink; */
    color: var(--palette-dark);
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.site-footer {}
.text-prompt-genre {}

.text-prompt {
    border: var(--palette-caramel);
    border-style: solid;
    /* background-color: var(--palette-pale); */
    color: var(--palette-rich);
    /* font-size: larger; */

    font-style: oblique;
}

.col-text-prompt {
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 20px;
}

.text-writing-guidance {}


/* BUTTONS -------------------------------------------------- */

.site-btn {
    font-family: 'Libre Baskerville', serif;

    background-color: var(--palette-chocolate);
    color: var(--palette-pale);
    border: var(--palette-caramel);
    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    transition-property: font-weight;
    transition-property: border;
    transition-property: margin_bottom;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}

.btn-genre-card-select {
    text-align: center;
    align-self: center;
    width: 90%;
}

.col-btn-refresh {
    padding-left: 0;
    margin-left: 0;
}
.btn-refresh {
    color: var(--palette-dark);
    font-size: large;
    font-weight: 400;
    text-align: right;
}

.site-btn-minimalist {}

.btn-refresh {}

.btn-begin, 
.btn-regenerate,
.btn-lets-write,
.btn-genre-inspire,
.btn-email {}



/* SITE INTERACTION ------------------------------------------ */
.prompt-text:hover {
    background-color: #820263;
}

.site-btn:hover {
    background-color: var(--palette-chocolate);
    color: var(--palette-pale);
    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.25);
    font-weight: bolder;
    /* margin: 10px;
    margin-top: 4px; */
    /* transition: all .2s ease-in-out; */
}


/* .btn-genre-card-select:hover {
    background-color: var(--palette-chocolate);
    color: var(--palette-pale);
    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.25);
    font-weight: bolder;
    margin: 10px;
    margin-top: 4px;
    transition: all .2s ease-in-out;
} */

.btn-genre-card-select:active {
    /* border: var(--palette-rich);
    border-style: solid; */
}

.btn-refresh:hover {
    color: var(--palette-rich);
    font-weight: 800;
    font-size: x-large;
    transition: all .2s ease-in-out;
}



/* STORY CARDS ---------------------------------------------- */

.genre-card { /* individual genre card */
    background-color: var(--palette-pale);
    border-radius: 15px;
    opacity: 0.9;

    padding:  2px 10%;
    
    /* padding: 5px;
    margin: 10% 2px; */

    /* margin-top: 2px; */
    margin-top: 10px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
    /* min-width: 250px; */
    
}

.col-genre-card { /* container for each genre card */
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 450px;
}

.genre-cards { /* container for all genre cards */
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.img-genre-card {
    max-width: 90%;
    align-self: center;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
}





/*  MEDIA QUERIES ------------------------------------------- */

/* X-Small devices (portrait phones, less than 576px)
   No media query for `xs` --> the Bootstrap default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {
        /* background-color:blue; */
    }
    
    .btn-genre-card-select {
        font-size: 15px;
        line-height: 28px;
        width: 80%;
        max-width: 250px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        /* background-color:lightskyblue; */
    }
    
    .btn-genre-card-select {
        font-size: 16px;
        line-height: 32px; 
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        /* background-color:aqua; */
    }

    .btn-genre-card-select {
        width: 75%;
    }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        /* background-color:aquamarine; */
    }

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    body {
        /* background-color:powderblue; */
    }
}